*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  height: 100vh;
}
.mounth{
  padding: 15px;
  width: 700px;
  margin: auto;
  border: 1px solid red;
}
.mounth-name{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 15px;
}
nav{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
}
.mounth-days{
  /* padding: 15px; */
  width: 100%;
  height: 100%;
}
.mounth-days li{
  float: left;
  width: calc(100%/7);
  height: 100px;
  list-style: none;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.event{
  text-align: center;
}
.event-day{
  font-weight: 700;
  color: red;
}

.prev-mounth,
.next-mounth{
  cursor: pointer;
}
